    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
      font-family: Arial, sans-serif;
    }
    
    canvas {
      display: block;
      width: 100%;
      max-width: 320px;
      background-color: #222;
      border: 1px solid #fff;
    }
    
    #score {
      font-size: 20px;
      color: #fff;
      text-align: center;
      padding-top: 10px;
      width: 100%;
      max-width: 320px;
    }
